[Desktop Entry]
Name=Novatool
Type=Application
Comment=A tool for working with WebOS devices.
Exec=novatool
TryExec=novatool
Icon=novatool
Categories=Utility;
